$form-druipart: ('bg-color': getCssVar(color, bg, 1),
  'padding': 0,
  'border-radius': getCssVar('border-radius', 'small'));
$form-druipart-caption: ('text-color': getCssVar(color, text, 0),
  'font-size': getCssVar('font-size', 'header-6'),
  'font-weight': getCssVar(font-weight, bold),
  'padding': getCssVar(spacing, base),
);

@include b(form-druipart) {
  @include set-component-css-var('form-druipart', $form-druipart);
  @include set-component-css-var('form-druipart-caption', $form-druipart-caption);

  width: 100%;
  height: 100%;
  padding: getCssVar('form-druipart', 'padding');
  background-color: getCssVar('form-druipart', 'bg-color');
  border-radius: getCssVar('form-druipart', 'border-radius');

  // 标题
  @include e(caption) {
    @include utils-ellipsis;

    padding: getCssVar('form-druipart-caption', 'padding');
    font-size: getCssVar('form-druipart-caption', 'font-size');
    font-weight: getCssVar('form-druipart-caption', 'font-weight');
    color: getCssVar('form-druipart-caption', 'text-color');
  }

  // 关系界面下的视图不margin
  @include b(view-content) {
    margin-top: 0;
  }

}