@include b(picker-embed-view) {
  width: 100%;
  height: 100%;
  #{getCssVarName(form-item-container, error-color)}: none;
  @include m(disabled) {
    cursor: not-allowed;

    * {
      pointer-events: none;
      cursor: not-allowed;
    }

    .el-tree-node__expand-icon {
      pointer-events: all;
      cursor: pointer;
    }
  }

  @include m(show-value) {
    @include b(picker-embed-view-view) {
      height: calc(100% - getCssVar(form-item, line-height)) !important;
    }
  }

  @include b(picker-embed-view-view) {
    height: 100%;
  }

  @include b(picker-embed-view-value) {
    height: getCssVar(form-item, line-height);
    line-height: getCssVar(form-item, line-height);
  }
}
