@include b(list-box) {
  height: 100%;
  overflow: auto;
  @include b(list-box-radio) {
    @include flex(column, flex-start, flex-start);

    .el-radio {
      .el-radio__label {
        font-size: getCssVar('form-item', 'font-size');
        color: getCssVar('form-item', 'text-color');
      }
    }
  }

  @include b(list-box-checkbox) {
    @include flex(column, flex-start, flex-start);

    .el-checkbox {
      .el-checkbox__label {
        font-size: getCssVar('form-item', 'font-size');
        color: getCssVar('form-item', 'text-color');
      }
    }
  }
}


@include b(form-item){

  @include b(list-box) {
    @include when(show-default){
      padding: getCssVar(form-item, hover-edit-padding);
    }
  }
}