/* 向导 start */

$control-wizard-panel: ('header-height': 60px,
  'footer-height': 40px,
  margin: getCssVar('spacing', 'loose') getCssVar('spacing', 'tight'),
  gap:getCssVar('spacing', 'tight'), );


/* 向导 end */
@include b(control-wizardpanel) {
  @include set-component-css-var('control-wizard-panel', $control-wizard-panel);

  display: flex;
  flex-direction: column;
  height: 100%;

  @include e(form) {
    flex-grow: 1;
    overflow: auto;
  }

  @include when(header) {
    @include e(form) {
      height: calc(100% - getCssVar('control-wizard-panel', 'footer-height') - getCssVar('control-wizard-panel', 'header-height'));
    }
  }
}

@include b(control-wizardpanel-header) {
  height: getCssVar('control-wizard-panel', 'header-height');
}


@include b(control-wizardpanel-footer) {
  @include flex(row, flex-end, center);

  gap: getCssVar('control-wizard-panel', 'gap');
  height: getCssVar('control-wizard-panel', 'footer-height');
  margin: getCssVar('control-wizard-panel', 'margin');


  @include e(form) {
    flex-grow: 1;
    overflow: auto;
  }

  button {
    flex-grow: 1;
    height: 100%;
  }
}