@include b(rawitem) {
  width: 100%;
  height: 100%;
  font-size: getCssVar(font-size, regular);
  color: getCssVar(editor, default, text-color);

  @include b(icon) {
    width: 100%;
    height: 100%;
  }

  .van-notice-bar.info {
    --van-notice-bar-text-color:#{getCssVar(color, primary)};
    --van-notice-bar-background:#{getCssVar(color, primary, light, default)}
  }

  .van-notice-bar.warning {
    --van-notice-bar-text-color: #{getCssVar(color, warning)};
  }

  .van-notice-bar.error {
    --van-notice-bar-text-color: #{getCssVar(color, danger)};
    --van-notice-bar-background: #{getCssVar(color, danger, light, default)};
  }
}