@include b(form-mdctrl-form) {

}

@include b(form-mdctrl-form-item) {
  @include flex(row);

  @include e(form){
    flex-grow: 1;
  }
}

@include b(form-mdctrl-form-item-actions) {
  flex-shrink: 0;
  width: 80px;
  text-align: center;

  .el-button+.el-button{
    margin-left: getCssVar(spacing, none);;
  }

  @include e(btn){
    margin-top: getCssVar(spacing, tight);
  }
}

@include b(form-mdctrl-form-no-data) {
  width: 100%;
  @include flex(row, flex-end)

}

