$nav-breadcrumb: (
  'padding': getCssVar('spacing', 'base-loose'),
  'link-color': getCssVar('color', 'link'),
  'disabled-color': getCssVar('color', 'text', 0),
);

@include b(nav-breadcrumb) {
  @include set-component-css-var('nav-breadcrumb', $nav-breadcrumb);

  padding: getCssVar('nav-breadcrumb', 'padding');

  --el-text-color-primary: #{getCssVar('nav-breadcrumb', 'link-color')};

  // 菜单模式禁用点击
  @include m(menu) {
    color: #{getCssVar('nav-breadcrumb', 'disabled-color')};

    --el-text-color-primary: #{getCssVar('nav-breadcrumb', 'disabled-color')};

    .el-breadcrumb__item {
      cursor: text;

      &:last-child .el-breadcrumb__inner {
        color: getCssVar('color', 'primary');
      }
    }

    .el-breadcrumb__inner.is-link {
      font-weight: normal;
      pointer-events: none;
    }
  }
}