$form-mdctrl: (
  'header-height': 49px,
);

@include b(form-mdctrl){
  @include set-component-css-var('form-mdctrl', $form-mdctrl);

  @include e(toolbar){
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  @include e(title) {
    width: 50%;
    font-size: getCssVar('font-size', 'header-5');
    font-weight: getCssVar(font-weight, bold);
  }
}

@include b(form-mdctrl-header){
  display: flex;
  place-content: center space-between;
  align-items: center;
  height: getCssVar(form-mdctrl, header-height);
  padding: getCssVar(spacing, base, tight) 0;
  margin:  calc(getCssVar(spacing, base-tight) / 2) getCssVar(spacing, base, tight);
  line-height: getCssVar(form-mdctrl, header-height);
  border-bottom: 1px solid getCssVar('color', 'border');
}

@include b(form-mdctrl-preview-content) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  margin: getCssVar('spacing', 'tight');
  box-shadow: 0 0 0 1px #{getCssVar(color, border)} inset;
}