$control-appmenu: ('icon-width': 100%,
  'icon-view-icon-size': rem(35px),
  'icon-view-icon-margin': rem(5px),
  'icon-color': getCssVar('color', 'text', 0),
);


@include b(control-appmenu-iconview) {
  @include set-component-css-var('control-appmenu', $control-appmenu);

  .van-grid-item__text {
    display: -webkit-box;
    flex: 1;
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;

    // 图标菜单最大俩行显示
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .van-badge__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .van-grid-item__content--clickable:active {
    background-color: inherit;
  }


  @include b(control-appmenu-icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: getCssVar('control-appmenu', 'icon-view-icon-size');
    height: getCssVar('control-appmenu', 'icon-view-icon-size');
    margin-bottom: getCssVar('control-appmenu', 'icon-view-icon-margin');
    font-size: getCssVar('control-appmenu', 'icon-view-icon-size');
    color: getCssVar('control-appmenu', 'icon-color');

    @include b(icon) {
      width: 100%;
      height: 100%;
      color: getCssVar('control-appmenu', 'icon-color');
    }

  }
}