@include b(dropdown) {
  height: 100%;

  @include e(select) {
    height: 100%;
    font-size: getCssVar('form-item', 'font-size');

    .#{bem('dropdown','select-item')} {
      padding: 0;
      color: getCssVar(dropdown, select-option-item-color);
      background-color: getCssVar(dropdown, select-option-item-bkcolor);
      border-radius: getCssVar(spacing, base);
    }
    .#{bem('dropdown','select-item', 'has-bg')} {
      padding: 0 getCssVar(spacing, base);
    }

    &::after {
      display: none;
    }

    .van-field__body {
      display: flex;
      justify-content: space-between;
      height: 100%;
    }
  }

  @include e(option) {
    padding: rem(5px) rem(16px);
    line-height: 21px;
    color: getCssVar(dropdown, select-option-item-color);
    background-color: getCssVar(dropdown, select-option-item-bkcolor);
    border-radius: getCssVar(spacing, base);
  }

  .van-picker {
    .van-picker__mask {
      background-image: getCssVar(color, overlay, bg);
    }
  }

  input:disabled {
    color: getCssVar('form-item', 'disabled-color');
    background-color: getCssVar('form-item', 'disabled-bg-color');
    border-color: getCssVar('form-item', 'disabled-border-color');
    -webkit-text-fill-color: getCssVar('form-item', 'disabled-color');
  }

  @include m(readonly) {
    color: getCssVar('form-item', 'readonly-color');
    -webkit-text-fill-color: getCssVar('form-item', 'readonly-color');
  }

  .van-field__control {
    justify-content: getCssVar(form-item-container, editor-align);
  }

  @include e(placeholder) {
    color: getCssVar('form-item', 'placeholder-color');
  }
}

@include b(dropdown-readonly-text-item) {
  display: inline-block;
  padding: 0;
  font-size: rem(14px);
  line-height: rem(24px);
  color: getCssVar(dropdown, select-option-item-color);
  background-color: getCssVar(dropdown, select-option-item-bkcolor);
  border-radius: getCssVar(spacing, base);
  @include m(has-bg) {
    padding: 0 getCssVar(spacing, base);
  }
}

@include b(dropdown-pop){
  display: flex;
  width: 100%;
  height: 100%;
  padding: getCssVar(spacing,base);
  flex-direction: column;
  @include e('header'){
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    @include m('caption'){
      margin-left: getCssVar(spacing,base);
    }
    @include m('right'){
      display: getCssVar(form-item-container,required-style);
    }
  }
  @include e('content'){
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  @include e('search'){
    margin-top: getCssVar(spacing,base);
    flex-shrink: 0;
    padding: getCssVar(spacing,extra-tight) 0;
    overflow: hidden;
    border-radius: getCssVar(border-radius,medium);

    .van-field{
      --van-field-icon-size: #{getCssVar(font-soze,heaader-5)};
      padding: getCssVar(spacing,extra-tight);
      --van-cell-background:#{getCssVar(color,fill,2)};

      .van-field__left-icon{
        display: flex;
        align-items: center;
        padding: 0 getCssVar(spacing,extra-tight);
      }

      .van-field__value{
        text-align: left;
        &::placeholder{
          font-size: getCssVar(font-size,small);
          color: getCssVar(color,text,3);
        }
      }
    }
    
  }
  @include e('list'){
    flex: 1;
    overflow: auto;
    @include m('item'){
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: getCssVar(spacing,base) 0;
      border-bottom: 1px solid getCssVar(color,border);
    }
    @include m('item-text'){
      color: getCssVar(dropdown, select-option-item-color);
      background-color: getCssVar(dropdown, select-option-item-bkcolor);
      
      border-radius: getCssVar(spacing,base);
      @include when('bkcolor'){
        padding: getCssVar(spacing,extra-tight)  getCssVar(spacing,base);
      }
    }
    @include m('selected'){
      color: getCssVar(color,primary);
    }
  }
}