@include b(data-mpicker) {

  @include b(data-mpicker-toolbar) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: getCssVar(spacing, base-tight);

    button {
      padding: 0;
      background-color: transparent;
      border: none;
    }

    @include e(confirm) {
      color: getCssVar(color, primary);
    }

    @include e(cancel) {
      color: getCssVar(color, text, 3);
    }
  }

  @include b(data-mpicker-columns) {
    min-height: 30vh;
    max-height: 50vh;
    overflow: auto;

    .van-cell-group {
      height: 100%;
      overflow: auto;
    }

    .van-cell {
      justify-content: flex-end;
      padding: getCssVar(spacing, base-tight);
    }
  }

  .van-cell-group--inset {
    margin: 0;
  }
}