@include b('picker') {
  height: 100%;

  .van-field {
    font-size: getCssVar('form-item', 'font-size');

    &::after {
      display: none;
    }
  }

  .van-field__button {
    button {
      color: var(--van-field-right-icon-color);
      border: none;
    }
  }

  ion-icon {
    cursor: pointer;
  }

  @include e('buns-position') {
    position: relative;
    display: inline-block;
  }

  @include e('btns') {
    position: absolute;
    right: 0;
    @include flex;

    span {
      @include flex($direction: column, $horizontal: center);
    }
  }

  @include e('autocomplete') {
    @include flex;

    .el-autocomplete {
      width: 100%;
    }
  }

  @include e('transfer-item') {
    padding: rem(5px);
    cursor: pointer;

    &:hover {
      background-color: getCssVar('form-item', 'hover-bg-color');
    }
  }

  @include e('link') {
    width: rem(32px);
    height: rem(32px);
    padding: 0 rem(6px);
  }

  @include m(disabled) {
    pointer-events: none;
  }

  @include m(readonly) {
    color: getCssVar('form-item', 'readonly-color');
  }

  input:disabled {
    color: getCssVar('form-item', 'disabled-color');
    background-color: getCssVar('form-item', 'disabled-bg-color');
    border-color: getCssVar('form-item', 'disabled-border-color');
    -webkit-text-fill-color: getCssVar('form-item', 'disabled-color');
  }

  @include m(readonly) {
    color: getCssVar('form-item', 'readonly-color');
    -webkit-text-fill-color: getCssVar('form-item', 'readonly-color');
    text-align: getCssVar(form-item-container, editor-align);
  }

  input {
    text-align: getCssVar(form-item-container, editor-align);
  }

  @include e('pickup-search-icon'){
    font-size: getCssVar(font-size,header,5);
    display: flex;
  }
  @include e('linkview-icon'){
    font-size: getCssVar(font-size,header,5);
    display: flex;
  }
}
@include b(picker-pop){
  display: flex;
  width: 100%;
  height: 100%;
  padding: getCssVar(spacing,base);
  flex-direction: column;
  @include e('header'){
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    @include m('caption'){
      margin-left: getCssVar(spacing,base);
    }
    @include m('right'){
      display: getCssVar(form-item-container,required-style);
    }
  }
  @include e('content'){
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  @include e('search'){
    margin-top: getCssVar(spacing,base);
    flex-shrink: 0;
    padding: getCssVar(spacing,extra-tight) 0;
    overflow: hidden;
    border-radius: getCssVar(border-radius,medium);

    .van-field{
      --van-field-icon-size: #{getCssVar(font-soze,heaader-5)};
      padding: getCssVar(spacing,extra-tight);
      --van-cell-background:#{getCssVar(color,fill,2)};

      .van-field__left-icon{
        display: flex;
        align-items: center;
        padding: 0 getCssVar(spacing,extra-tight);
      }

      .van-field__value{        
        &::placeholder{
          font-size: getCssVar(font-size,small);
          color: getCssVar(color,text,3);
        }
        input{
          text-align: left;
        }
      }
    }
    
  }
  @include e('list'){
    flex: 1;
    overflow: auto;
    @include m('item'){
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: getCssVar(spacing,base) 0;
      border-bottom: 1px solid getCssVar(color,border);
    }
    @include m('item-text'){
      color: getCssVar(dropdown, select-option-item-color);
      background-color: getCssVar(dropdown, select-option-item-bkcolor);
      
      border-radius: getCssVar(spacing,base);
      @include when('bkcolor'){
        padding: getCssVar(spacing,extra-tight)  getCssVar(spacing,base);
      }
    }
    @include m('selected'){
      color: getCssVar(color,primary);
    }
  }
}
