@include b('bottom-side-menu') {
    width: 100%;
    height: 100%;
}

@include b('col') {
    @include m('self-align') {
        &>.#{bem('bottom-side-menu')} {
            width: 100%;
            height: 100%;
        }
    }
}