$tree-grid-ex-ua-column: (
  cell-padding: getCssVar(spacing, tight),
  btn-bg-color: transparent,
  btn-hover-color: getCssVar(color, primary, hover),
  btn-color: getCssVar(color, primary),
  font-size: getCssVar(font-size, regular),
  font-weight: getCssVar(font-weight, regular),
);

@include b(tree-grid-ex-ua-column) {
  @include set-component-css-var(tree-grid-ex-ua-column, $tree-grid-ex-ua-column);

  display: flex;
  align-items: center;
  justify-content: getCssVar('tree-grid-ex-column', 'text-align');
  width: 100%;
  height: 100%;
  padding: getCssVar(tree-grid-ex-ua-column, cell-padding);

  .el-button {
    font-size: getCssVar(tree-grid-ex-ua-column, font-size);
    font-weight: getCssVar(tree-grid-ex-ua-column, font-weight);
    color: getCssVar(tree-grid-ex-ua-column, btn-color);
    background-color: getCssVar(tree-grid-ex-ua-column, btn-bg-color);
    box-shadow: none;

    &:hover {
      color: getCssVar(tree-grid-ex-ua-column, btn-hover-color);
    }

    &.is-text:not(.is-disabled):hover {
      background-color: getCssVar(tree-grid-ex-ua-column, btn-bg-color);
    }
  }


}
