@include b(date-range-picker) {
  .el-date-editor {
    width: 100%;
    line-height: getCssVar(editor, default, line-height);        

    @include flex(row, flex-start, center);

    .el-range-input{
      color: getCssVar(form-item, text-color);
      background-color: transparent;
    }
  }

  @include m(readonly) {
    font-size: getCssVar(form-item, font-size);
    color: getCssVar(form-item, readonly-color);
    line-height: getCssVar(editor, default, line-height);
  }
}

// 表单下的时间选择器默认显示，悬浮上去显示编辑器
@include b(date-range-picker-form-default-content){
  display: none;
}

@include b(form-item){

  @include b(date-range-picker) {
    @include when(show-default){
      // 悬浮显示编辑器
      &:hover{
        @include b(date-range-picker-form-default-content){
          display: none;
        }     
        @include b(date-range-picker-input){
          display: flex;    
        }       
      }    
      
      // 不悬浮时显示信息态
      @include b(date-range-picker-form-default-content){      
        display: flex;
        align-items: center;
        width: 100%;
        padding: getCssVar(form-item, hover-edit-padding);        
        font-family: Arial, sans-serif;;      
        font-size: getCssVar(form-item, font-size);
        line-height: getCssVar(editor, default, line-height);
        color: getCssVar(form-item, text-color);      

        @include b(date-range-picker-default-input){
          box-shadow: none;
        }

        @include when(has-val){
          padding: 0;
        }
      }
      @include b(date-range-picker-input){
        display: none;  
      }
      
      // 输入态
      @include when(editable){
        @include b(date-range-picker-form-default-content){
          display: none;
        }     
        @include b(date-range-picker-input){
          display: flex;    
        }  
      }
    }

  }
}