$internal-message: (
  loading-warp-bg-color: linear-gradient(90deg,getCssVar(color, primary, light, hover),getCssVar(color, primary)),
);

@include b(internal-message) {
  @include set-component-css-var('internal-message', $internal-message);
  @include flex(row, space-between, center);

  @include e(caption){
    margin-bottom: getCssVar('spacing', 'tight');
    font-weight: getCssVar(font-weight, bold);
  }

  @include e(short-content){
    margin-bottom: getCssVar('spacing', 'tight');
  }

  @include e(status){
    margin-right: getCssVar('spacing', 'tight');
  }

}

@include b(internal-message-left) {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  width: 50px;
  font-size: getCssVar(font-size,header-3);
  text-align: center;
}


@include b(internal-message-center) {
  flex-grow: 1;
  width: 342px;
}
