@include b(wf-step-trace) {

  @include b(wf-step-trace-task) {
    border: rem(1px) solid getCssVar('color', 'border');
  }

  @include b(wf-step-trace-task-item) {
    padding: getCssVar('spacing', 'tight');
    font-size: getCssVar('font-size', 'regular');
    border-bottom: rem(1px) solid getCssVar('color', 'border');

    .van-field__label {
      flex: 1;
      font-weight: getCssVar('font-weight', 'bold');
    }
  }

}