@include b(nav-pos-index) {
  width: 100%;
  height: 100%;
  padding: 0 getCssVar(spacing, base, loose) getCssVar(spacing, base, loose);
  overflow: hidden;

  @include when(no-nav){
    padding: getCssVar(spacing, base, loose);
  }
}
