$form-rawitem: (
  'line-height': getCssVar(height-control, default),
  'padding': getCssVar(spacing, tight) getCssVar(spacing, extra-tight) getCssVar(spacing, tight) getCssVar(spacing, extra-tight),
  'font-size': getCssVar(font-size, regular),
);

@include b(form-raw-item) {
  @include set-component-css-var('form-rawitem', $form-rawitem);

  width: 100%;
  height: 100%;
  @include when('form-text') {
    padding: getCssVar('form-rawitem', 'padding');
    font-size: getCssVar('form-rawitem', 'font-size');
    line-height: getCssVar('form-rawitem', 'line-height');
  }
}

// 左右padding 为11px固定不变
@include b(form-raw-item) {
  @include when(show-default){
    padding: getCssVar(spacing,none) 11px;
  }
}

@include b(form-raw-item-preview-content) {
  display: flex;
  align-items: center;

  @include e(image) {
    display: flex;
  }

  @include e(video) {
    display: flex;
  }
}
