$fullscreen-header: (
    height: rem(44px),
    font-size: getCssVar(font-size, header, 5),
    font-weight: getCssVar(font-weight, bold),
);

@include b('fullscreen-header'){
    @include set-component-css-var('fullscreen-header', $fullscreen-header);
    height: getCssVar(fullscreen-header, height);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-size: getCssVar(fullscreen-header, font-size);
    font-weight: getCssVar(fullscreen-header, font-weight);
    @include e('close'){
        position: absolute;
        right: getCssVar(spacing,extra,tight);
        font-size: getCssVar(font-size,header-1);
        height: 100%;
        display: flex;
        align-items: center;
    }
}


@include b(full-screen) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    // 移动端安全距离
    padding: var(--safe-area-inset-top) var(--safe-area-inset-right) var(--safe-area-inset-bottom) var(--safe-area-inset-left);
}