$form-tab-panel: (
  'font-size': getCssVar(font-size, header-4),
  'header-border-color': getCssVar(color, border),
  'text-color': getCssVar(color, text, 2),
  'bg-color': transparent,
  'hover-text-color': getCssVar(color, primary),
  'hover-bg-color': transparent,
  'active-text-color': getCssVar(color, primary),
  'active-bg-color': transparent,
  'active-border-color': getCssVar(color, primary),
);

@include b(form-tab-panel) {
  width: 100%;
  height: 100%;
  @include set-component-css-var('form-tab-panel', $form-tab-panel);

  > .el-tabs__header.is-top {
    margin-bottom: getCssVar(spacing, tight);

    .el-tabs__item.is-top {
      font-size: getCssVar('form-tab-panel', 'font-size');
      color: getCssVar('form-tab-panel', 'text-color');
      background-color: getCssVar('form-tab-panel', 'bg-color');
    }

    .el-tabs__item.is-top:hover {
      color: getCssVar('form-tab-panel', 'hover-text-color');
      background-color: getCssVar('form-tab-panel', 'hover-bg-color');
    }

    .el-tabs__item.is-top.is-active {
      color: getCssVar('form-tab-panel', 'active-text-color');
      background-color: getCssVar('form-tab-panel', 'active-bg-color');
    }
  }

  // 分页头部底边
  .el-tabs__nav-wrap::after {
    height: 1px;
    background-color: getCssVar('form-tab-panel', 'header-border-color');
  }

  // 标示线颜色
  .el-tabs__active-bar{
    background-color: getCssVar('form-tab-panel','active-border-color');
  }

  .el-tabs__item{
    .#{bem(form-tab-panel,badge)}{
      @include when('no-counter') {
        padding-right: getCssVar(spacing,none);
      }
    }
  }


  // 计数器样式
  @include e(badge){
    .el-badge__content{
      padding: getCssVar(spacing, extra-tight);
      font-size: getCssVar(font-size,small);
      background-color: getCssVar(color, danger);
    }
  }
  

}
