@include b(file-upload) {
  width: 100%;

  @include b(file-upload-button) {
    span {
      font-size: getCssVar(form-item, font-size);
    }
  }


  .el-upload-list {
    @include flex(row, flex-start, flex-start, wrap);
  }

  .el-upload-list__item {
    @include flex(row, flex-start, center, nowrap);

    flex: 0 0 auto;

    .el-upload-list__item-info {
      .el-upload-list__item-name {
        color: getCssVar(form-item, text-color);
      }
    }

    &:hover {
      @include flex(row, flex-start, center, nowrap);

      background: getCssVar(form-item, disabled-bg-color);

      span {
        color: getCssVar(form-item, text-color);
      }
    }
  }

  // 禁用态样式
  @include m(disabled) {
    .el-upload-list__item > span {
      color: getCssVar(form-item, disabled-color);
    }
  }

  // 只读态样式
  @include m(readonly) {
    .el-upload-list__item > span {
      color: getCssVar(form-item, readonly-color);
    }
    
    .#{bem(file-upload-button)} {
      display: none;
    }       
  }
}

// 不显示上传按钮
@include b(file-upload-icon){
  @include when(not-show){
    .el-upload--text{
      display: none;
    }
  }
}

// 嵌入表格编辑列特殊样式
.#{bem(grid-field-edit-column, editor)} {
  &.#{bem(file-upload)} {

    .#{bem(file-upload-icon)}{
      @include flex(column, center, center);

      .el-upload-list--text{
        width: 100%;
      }
    }    

  }
}


@include b(form-item){

  @include b(file-upload) {
    @include when(show-default){
      padding: getCssVar(form-item, hover-edit-padding);
    }
  }
}