@include b(picker-link) {
  height: 100%;
  font-size: getCssVar('form-item', 'font-size');
  line-height: getCssVar(editor, default, line-height);
  color: getCssVar(color, link);
  cursor: pointer;


  &:hover {
    color: getCssVar(color, link-hover);
  }

  @include m(disabled) {
    cursor: not-allowed;
  }

  @include when(empty) {
    color: inherit;
    cursor: auto;
  }

  @include m(readonly) {
    color: getCssVar(form-item, readonly-color);

    @include when(empty) {
      color: getCssVar(form-item, readonly-color);
    }
  }

  @include when(ellipsis) {
    a {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  a {
    display: inline-block;
    height: 100%;
  }
}


@include b(form-item){

  @include b(picker-link) {
    @include when(show-default){
      padding: getCssVar(form-item, hover-edit-padding);
    }
  }
}