$autocomplete: (
  'empty-bg-color': getCssVar(color, bg, 3),
);

@include b(autocomplete) {
  @include set-component-css-var('autocomplete', $autocomplete);

  width: 100%;

  @include e(transfer-item) {
    @include when(ellipsis) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  // 界面行为项
  @include e(action-item) {
    color: getCssVar(color, link);
    text-align: center;
  }

  @include e(empty) {
    padding: 0;
    #{getCssVarName(no-data, min-height)}: 100px;

    --el-empty-image-width: 100px;
  }

  @include e(suffix) {
    cursor: pointer;
    visibility: inherit;
    transition: var(--el-transition-duration);
    transform: rotate(0);
    @include when(reverse) {
      transform: rotate(-180deg);
    }
  }

  @include e(transfer) {
    @include set-component-css-var('autocomplete', $autocomplete);
    @include when(empty) {
      .el-autocomplete-suggestion li {
        padding: 0;
      }
      .#{bem(no-data)} {
        background-color: getCssVar(autocomplete, empty-bg-color);
      }
    }
  }

  @include b(autocomplete-input) {
    width: 100%;
  }

  @include m(readonly) {
    font-size: getCssVar(form-item, font-size);
    line-height: getCssVar(editor, default, line-height);
    color: getCssVar('form-item', 'readonly-color');
  }

  // 适配在表格行内自动填充样式无法居中对齐
  .el-autocomplete {
    vertical-align: middle;
  }
}

// 表单下的时间选择器默认显示，悬浮上去显示编辑器
@include b(autocomplete-form-default-content){
  display: none;
}

@include b(form-item){

  @include b(autocomplete) {
    @include when(show-default){
      // 悬浮显示编辑器
      &:hover{
        @include b(autocomplete-form-default-content){
          display: none;
        }     
        @include b(autocomplete-input){
          display: block;    
        }       
      }    
      
      // 不悬浮时显示信息态
      @include b(autocomplete-form-default-content){      
        display: flex;
        align-items: center;
        width: 100%;
        padding: getCssVar(form-item, hover-edit-padding);        
        font-family: Arial, sans-serif;;      
        font-size: getCssVar(form-item, font-size);
        line-height: getCssVar(editor, default, line-height);
        color: getCssVar(form-item, text-color);      
      }
      @include b(autocomplete-input){
        display: none;  
      }
      
      // 输入态
      @include when(editable){
        @include b(autocomplete-form-default-content){
          display: none;
        }     
        @include b(autocomplete-input){
          display: block;    
        }  
      }
    }

  }
}