$form-mdctrl-md: (empty-image-width: 64px,
  empty-padding: getCssVar(spacing,none),
  empty-margin-top: getCssVar('spacing', 'tight'),

);

@include b(form-mdctrl-md) {
  @include set-component-css-var('form-mdctrl-md', $form-mdctrl-md);
  @include flex(row);
}

@include b(form-mdctrl-md-content) {
  flex-grow: 1;

  .#{bem(no-data)} {
    --el-empty-image-width: #{getCssVar(form-mdctrl-md, empty-image-width)};
    --el-empty-description-margin-top:#{getCssVar(form-mdctrl-md, empty-margin-top)};
    --el-empty-padding:#{getCssVar(form-mdctrl-md, empty-padding)};

    line-height: 1;
  }
}

@include b(form-mdctrl-md-actions) {
  flex-shrink: 0;
  width: 80px;
  text-align: center;

  .el-button+.el-button {
    margin-left: getCssVar(spacing,none);
  }

  @include e(btn) {
    margin-bottom: getCssVar(spacing, tight);
  }
}