@include b(row-edit-popover) {
  position: absolute;
  z-index: 2;
  padding: getCssVar('spacing','tight') getCssVar('spacing','base');
  white-space: nowrap;
  background-color: getCssVar("control-grid","row-edit-bg-color");

  @include when(hidden){
    top: -9999px;
    left: -9999px;
    z-index: -9999;
  }

  &::before{
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 0;
    content: '';
    border-color: transparent getCssVar("control-grid","row-edit-bg-color") transparent transparent;
    border-style: solid;
    border-width: 0 50px 50px 0;
  }

  &::after{
    position: absolute;
    top: 0;
    right: -50px;
    width: 0;
    height: 0;
    content: '';
    border-color: transparent transparent transparent getCssVar("control-grid","row-edit-bg-color");
    border-style: solid;
    border-width: 0 0 50px 50px;
  }
}

.row-edit-popover__placeholder{
  height: 50px;
}