@include b('span') {
  display: block;
  width: 100%;
  font-size: getCssVar(form-item, font-size);
  line-height: getCssVar(editor, default, line-height);
  color: inherit;
  white-space: pre-line;
  @include utils-ellipsis;

  @include m(disabled) {
    color: getCssVar('form-item', 'disabled-color');
  }

  @include m(readonly) {
    color: getCssVar('form-item', 'readonly-color');
  }
  @include e('code-list') {
    @include when('reverse-color') {
      .#{bem('code-list','item')} {
        padding: getCssVar(spacing-extra, tight) getCssVar(spacing-base, tight);
        color: getCssVar(color, default);
        background-color: getCssVar('code-list', 'item-color');
        border-radius: getCssVar(border-radius, large);
      }
    }
  }

  text-align: getCssVar(form-item-container, editor-align);
  .#{bem('span','code-list')}{
    display: flex;
    flex-direction: row;
    justify-content: getCssVar(form-item-container, editor-align);
  }
}
